label {
    white-space: nowrap;
}

uni-page-body {
    height: 100%;
}

image {
    width: 100%;
    height: 100%;
}

@media screen and (min-width:960rpx) {

    page,
    body {
        width: 375px;
        margin: auto;
        transform: translate(0);
    }

}
@import 'theme.scss';

@mixin theme {
    @each $theme-name,$theme-value in $themes {
        //!global 把局部变量强升为全局变量
        $theme-value: $theme-value !global;
        //判断html的data-theme的属性值  #{}是sass的插值表达式
        //& sass嵌套里的父容器标识   @content是混合器插槽，像vue的slot
        [data-theme="#{$theme-name}"] & {
            @content;
        }
        // #{$theme-name}:$theme-value
    }
}
//声明一个根据Key获取颜色的function
@function themed($key) {
    @return map-get($theme-value, $key);
}

//获取背景颜色
@mixin background_color($color) {
    @include theme {
        background-color: themed($color)!important;
    }
}