@import 'theme.scss';
@import 'uni.scss';
/* #ifdef H5 */
@import 'uni-h5.scss';
/* #endif */
@mixin theme {
    @each $theme-name,$theme-value in $themes {
        [theme-mode="#{$theme-name}"] & {
            @content;
        }
    }
}

label {
    white-space: nowrap;
}

uni-page-body {
    height: 100%;
}

image {
    width: 100%;
    height: 100%;
}

@media screen and (min-width:960rpx) {

    page {
        width: 375px;
        margin: auto;
        // transform: translate(0);
    }
	// page{
	// 	overflow-y: auto;
	// }
	// body{
	// 	overflow-y: hidden;
	// }
	// uni-tabbar .uni-tabbar,uni-page-head .uni-page-head{
	// 	width: 375px;
	// 	margin: auto;
	// }
	
}

