html[theme-mode='light'],html{
	/***tabbar***/
	// --tabBarBgColor:#ffffff;
	// --tabFontColor: #000000;
	// --tabSelectedColor: #3cc51f;
	/***end***/
	
	/***navbar***/
	// --navBgColor:#f8f8f8;
	// --navTxtStyle: #000;
	// --navIconColor:#000;
	/***end***/
	
	--pageBgColor:#fff;
	--modalBgColor:#fff;
	--modalTitleColor:#000;
	--textColor:#000;
	--bgColor:#a3a3a3;
}