html[theme-mode='dark'],html{
	/***tabbar***/
	// --tabBarBgColor:#292929;
	// --tabFontColor: #fff;
	// --tabSelectedColor: #51a937;
	/***end***/
	
	/***navbar***/
	// --navBgColor:#292929;
	// --navTxtStyle: #fff;
	// --navIconColor:#fff;
	/***end***/
	
	--pageBgColor:#1f1f1f;
	--modalBgColor:#1f1f1f;
	--modalTitleColor:#fff;
	--textColor:#fff;
	--bgColor:#680001;
}